<h2>{{title}}</h2>

<mat-horizontal-stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Year 2017</ng-template>
      <div style="text-align: justify">
        <p>
          The floating placeholder is a text label displayed on top of the form field control when the control does not contain any text. By default, when text is present the floating placeholder floats above the form field control.
          Placeholder text can be specified using the placeholder property on the form field control, or by adding a  element inside the form field. Only one of these options should be used, specifying both will raise an error.
          If the form field control is marked with a required attribute, an asterisk will be appended to the placeholder to indicate the fact that it is a required field. If unwanted, this can be disabled by setting the hideRequiredMarker property on
          The floatPlaceholder property of can be used to change this default floating behavior. It can set to never to hide the placeholder instead of float it when text is present in the form field control. It can be set to always to float the placeholder even when no text is present in the form field control. It can also be set to auto to restore the default behavior.
        </p>
        <p>
          The floating placeholder is a text label displayed on top of the form field control when the control does not contain any text. By default, when text is present the floating placeholder floats above the form field control.
          Placeholder text can be specified using the placeholder property on the form field control, or by adding a  element inside the form field. Only one of these options should be used, specifying both will raise an error.
        </p>
        <p style="text-align: center;"><img src="../../../assets/chart2.png"></p>
        <p>
          The floating placeholder is a text label displayed on top of the form field control when the control does not contain any text. By default, when text is present the floating placeholder floats above the form field control.
          Placeholder text can be specified using the placeholder property on the form field control, or by adding a  element inside the form field. Only one of these options should be used, specifying both will raise an error.
        </p>
        <p>
          The floating placeholder is a text label displayed on top of the form field control when the control does not contain any text. By default, when text is present the floating placeholder floats above the form field control.
          Placeholder text can be specified using the placeholder property on the form field control, or by adding a  element inside the form field. Only one of these options should be used, specifying both will raise an error.
        </p>
      </div>
      <div>
        <button mat-raised-button color="primary" mat-button matStepperNext style="float: right;">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Year 2016</ng-template>
      <div style="text-align: justify">
        <p>
          The floating placeholder is a text label displayed on top of the form field control when the control does not contain any text. By default, when text is present the floating placeholder floats above the form field control.
          Placeholder text can be specified using the placeholder property on the form field control, or by adding a  element inside the form field. Only one of these options should be used, specifying both will raise an error.
          If the form field control is marked with a required attribute, an asterisk will be appended to the placeholder to indicate the fact that it is a required field. If unwanted, this can be disabled by setting the hideRequiredMarker property on
          The floatPlaceholder property of can be used to change this default floating behavior. It can set to never to hide the placeholder instead of float it when text is present in the form field control. It can be set to always to float the placeholder even when no text is present in the form field control. It can also be set to auto to restore the default behavior.
        </p>
        <p style="text-align: center;"><img style="width: 50%;" src="../../../assets/casenumbersgraph1995_2015.jpg"></p>
        <p>
          The floating placeholder is a text label displayed on top of the form field control when the control does not contain any text. By default, when text is present the floating placeholder floats above the form field control.
          Placeholder text can be specified using the placeholder property on the form field control, or by adding a  element inside the form field. Only one of these options should be used, specifying both will raise an error.
        </p>
      </div>
      <div>
        <button mat-raised-button color="primary" mat-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" mat-button matStepperNext style="float: right;">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Year 2015</ng-template>
      <div style="text-align: justify">
        <p>
          The floating placeholder is a text label displayed on top of the form field control when the control does not contain any text. By default, when text is present the floating placeholder floats above the form field control.
          Placeholder text can be specified using the placeholder property on the form field control, or by adding a  element inside the form field. Only one of these options should be used, specifying both will raise an error.
          If the form field control is marked with a required attribute, an asterisk will be appended to the placeholder to indicate the fact that it is a required field. If unwanted, this can be disabled by setting the hideRequiredMarker property on
          The floatPlaceholder property of can be used to change this default floating behavior. It can set to never to hide the placeholder instead of float it when text is present in the form field control. It can be set to always to float the placeholder even when no text is present in the form field control. It can also be set to auto to restore the default behavior.
        </p>
        <p>
          The floating placeholder is a text label displayed on top of the form field control when the control does not contain any text. By default, when text is present the floating placeholder floats above the form field control.
          Placeholder text can be specified using the placeholder property on the form field control, or by adding a  element inside the form field. Only one of these options should be used, specifying both will raise an error.
        </p>
        <p>
          The floating placeholder is a text label displayed on top of the form field control when the control does not contain any text. By default, when text is present the floating placeholder floats above the form field control.
          Placeholder text can be specified using the placeholder property on the form field control, or by adding a  element inside the form field. Only one of these options should be used, specifying both will raise an error.
        </p>
      </div>
    <div>
      <button mat-raised-button color="primary" mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
