<div class="container">
   <h1 style="text-align: center">{{title}}</h1>
   <hr>
   <nav>
      <a md-raised-button color="primary" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a md-raised-button color="primary" routerLink="/users" routerLinkActive="active">Users</a>
      <a md-raised-button color="primary" routerLink="/about" routerLinkActive="active">About</a>
      <a md-raised-button color="primary" routerLink="/contact" routerLinkActive="active">Contact</a>
      <a md-raised-button color="primary" routerLink="/help" routerLinkActive="active">Help</a>
   </nav>
   <hr>
   <br>

   <router-outlet></router-outlet>
</div>
